* {
    -form-background: #2c2c34;
    -background-color: derive(-form-background, -30%);

    -foreground-color: rgba(0, 0, 0, 0.1);
    -border-color: #232323;
    -text-color: #aeaeae;

    -tooltip-color: rgba(56, 56, 56, 0.4);
}

.install {
    -fx-background-image: url("../img/download_w.png");
}

.uninstall {
    -fx-background-image: url("../img/close_w.png");
}

.update {
    -fx-background-image: url("../img/update_w.png");
}

.undefined {
    -fx-background-image: url("../img/undefined_w.png");
}

.listitem .example-action-button {
    -fx-background-image: url("../img/undefined_w.png");
}

#bundle .tab-label {
    -fx-graphic: url("../img/bundles_w.png");
}

#icons .tab-label {
    -fx-graphic: url("../img/icons_w.png");
}

#fonts .tab-label {
    -fx-graphic: url("../img/font_w.png");
}