/* JavaFX CSS Style with -fx- prefix */

* {
    -main-color: #15111d;
    -button-color: skyblue;
    -tooltip-color: rgba(56, 56, 56, 0.4);
}

.search {
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
}

.search:focused {
    -fx-effect: dropshadow(one-pass-box, #0000000F, 25, 0.2, 0, 5);
}

.listitem {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-color: lightgray;
}

.listitem:hover {
    -fx-effect: dropshadow(one-pass-box, #0000000F, 25, 0.2, 0, 5);
}

.installed {
    -fx-border-color: #49c969;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-border-color: transparent;
    -fx-padding: 5;
}

.nav {
    -fx-hgap: 5;
}

.nav .nav-item {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

.nav .selected {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-text-fill: black;
    
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.arrow-toltip {
    -fx-shape: 'M1.5 21.5H48.5L31.5 4.5C31.5 4.5 28.5899 1 25 1C21.4101 1 18.5 4.5 18.5 4.5L1.5 21.5Z';
    -fx-background-color: -tooltip-color;
    -fx-border-color: transparent;
}

.custom-tooltip {
    -fx-font-size: 14;
    -fx-background-color: -tooltip-color;
    -fx-background-insets: 15 0 0 0;
    -fx-padding: 5 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


