/* JavaFX CSS Style with -fx- prefix */

* {
    -form-background: #f3f3f3;
    -background-color: lightgray;

    -foreground-color: #FFFFFF;
    -border-color: lightgray;
    -text-color: #444444;

    -tooltip-color: rgba(56, 56, 56, 0.4);
}

.form,
.scroll-pane .viewport {
    -fx-background-color: -form-background;
}

.search {
    -fx-border-color: -border-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -foreground-color;

    -fx-background-image: url("../img/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 9 8;
    -fx-padding: 0 0 0 30;
    -fx-text-fill: -text-color;
}

.search:focused {
    -fx-effect: dropshadow(one-pass-box, -background-color, 25, 0.2, 0, 5);
}

.listitem {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -foreground-color;
    -fx-border-width: 1;
    -fx-border-color: -border-color;
}

.listitem:hover {
    -fx-effect: dropshadow(one-pass-box, -background-color, 25, 0.2, 0, 5);
}

.listitem .name {
    -fx-text-fill: -text-color;
}

.listitem .action-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0;

    -fx-background-size: 16 16;
}

.listitem .example-action-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0;

    -fx-background-size: 16 16;
    -fx-background-image: url("../img/undefined.png");
}

.install {
    -fx-background-image: url("../img/download.png");
}

.uninstall {
    -fx-background-image: url("../img/close.png");
}

.update {
    -fx-background-image: url("../img/update.png");
}

.undefined {
    -fx-background-image: url("../img/undefined.png");
}

.scroll-pane, .scroll-pane .viewport {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-border-color: transparent;
    -fx-padding: 5;
}

.nav {
    -fx-hgap: 5;
}

.nav .nav-item {
    -fx-background-insets: 0, 1;
    -fx-background-color: -background-color, -foreground-color;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-text-fill: -text-color;
}

.nav .selected {
    -fx-background-insets: 0;
    -fx-background-color: -foreground-color;
    -fx-text-fill: -text-color;
    
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.tooltip {
    -fx-padding: 0;
    -fx-background-color: transparent !important;
}

.arrow-toltip {
    -fx-shape: 'M1.5 21.5H48.5L31.5 4.5C31.5 4.5 28.5899 1 25 1C21.4101 1 18.5 4.5 18.5 4.5L1.5 21.5Z';
    -fx-background-color: -tooltip-color;
    -fx-border-color: transparent;
}

.custom-tooltip {
    -fx-font-size: 14;
    -fx-background-color: -tooltip-color;
    -fx-background-insets: 15 0 0 0;
    -fx-padding: 5 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.toggle-theme {
    -fx-text-fill: -text-color;
}

.toggle-theme .box {
    -fx-background-color: -background-color;
    -fx-border-color: -border-color;
}


